<div class="detail-component">
  <div class="row">
    <div class="col-md-12">
      <img src="" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>{{id}}</h2>
      <h2></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" type="button" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>

        <div class="dropdown-menu" style="display: block;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      this is description..
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Ingredients
    </div>
  </div>
</div>

<!--
<div class="row" *ngIf="editMood">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group">
        <label>Title</label>
        <input type="text" #title class="form-control" name="title" ngModel required>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea #description cols="30" rows="2" class="form-control" name="description" ngModel required></textarea>
      </div>
      <div class="form-group">
        <label>Image Url</label>
        <input type="text" class="form-control" name="imageUrl" ngModel required>
      </div>
      <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
  </div>
</div> -->
