<!-- <ul class="list-group">
    <li
      class="list-group-item px-3 py-1"
      type="button"
      [routerLink]="[id]"
      *ngFor="let recipe of recipes | keyvalue">
      <div class="float-left">
        <h4 class="lead">{{ recipe.value.title | titlecase}}</h4>
        <p class="mb-0">{{ recipe.value.description }}</p>
      </div>
      <div class="float-right align-items-center">
        <img class="rounded" [src]="recipe.value.imageUrl" style="max-height: 60px;" alt="">
      </div>
    </li>
</ul>
 -->
